.main_sponsors {
  margin: 20px;
}

h3.sponsors_title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.sponsors_list li:not(:last-child) {
  margin-bottom: 20px;
}

.sponsors_list li img {
  width: 150px;
  height: auto;
}
