#event {
  display: flex;
  margin-left: 1em;
}

#event div {
  border: 1px solid;
  padding: 30px;
  background-color: #324c64;
  color: #fff;
  font-size: 2em;
  margin-top: 1em;
}

.next-event {
  margin-left: 1em;
  font-size: 22px;
  font-weight: bold;
  margin-top: 2em;
}
